# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/builds/*.zip

# Secrets
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Temp
*.log
*.json
!package.json
